.asistencia-detail-page{

/*     section, div{
        border: 1px solid lime;
    } */
    
    .asistencia-top-banner{
        color: $darkblue;
        &.top-banner{
            @extend %top-img-banner;
        }

        .agency-logo{
            width: 190px;
            position: absolute;
            top: 45%;
            left: 25%;

            @include for-phone-landscape-up{
                width: 315px;
            }

            @include phone-landscape-to-tablet-portrait{
                top: 40%;
                left: 20%;
            }

            @include from-iPad-portrait-to-landscape{
                top: 35%;
                left: 27.5%;
            }

            @include for-tablet-landscape-up{
                top: 25%;
                left: 35%;
            }
        }

        .banner-navs{
            position: absolute;
            top: 7.5%;

            @include for-phone-landscape-up{
                top: 15%;
            }

            span.prev{
                position: relative;
                padding-left: 70px;
                font-family: $primary-black;
                font-size: $big-title-desktop;
                color: $lightpeach;
                
                @include for-phone-only{
                    font-size: $big-title-mobile;
                    padding-left: 30px;
                }

                &::before{
                    content: url(../../img/detail_asistencia/arrow-back.svg);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 24px;
                    display: inline;

                    @include for-phone-landscape-up{
                        width: 48px;
                    }
                }

                &::after{
                    content: '';
                    display: inline;
                    width: 1px;
                    padding-left: 10px;
                    border-right: 4px solid $lightpeach;

                }
            }

            .cancel{
                width: 20px;
                margin-right: 15px;
                
                @include for-phone-landscape-up{
                    padding-top: 10px;
                    width: 30px;
                }
            }
        }

    }

    .banner-bottom{
        margin: 0;
        background-color: $lightpeach;

        .caution-icon{
            fill: $darkblue;
            width: 25px;
        }

        h1{
            padding:{
                top: 1em;
                bottom: .5em;
                left: 10px;
            }
            font-family: $primary-medium;
            font-size: $regular-desktop;
            line-height: $regular-lh-desktop;
            color: $darkblue;
            text-transform: uppercase;

            @include for-phone-only{
                font-size: $medium-mobile;
                line-height: $medium-lh-mobile;
            }
        }


    }

    .container-bg{
        padding-top: 100px;
        background-color: $pale-grey;

        h2.agency-name{
            margin-bottom: 15px;
            @extend %serif-title;

            @include for-tablet-portrait-up{
                font-size: $big-title-desktop;
                line-height: $big-title-lh-desktop;
            }

        }

        .assist-phone-item{
            padding: 15px 10px;
            margin-top: 15px;
            background-color: $white;

            .item-name{
                font-family: $primary-light;
                font-size: $regular-desktop;
                color: $darkblue;

                @include for-phone-only{
                    padding: 0;
                    font-size: $regular-mobile;
                }
                
            }

            .item-phone{
                font-family: $primary-black;
                font-size: 20px;
                color: $darkblue;

                @include for-phone-only{
                    padding: 0;
                    font-size: $medium-mobile;
                }


            }

        }
        
        section.llamanos-cta{
            padding-top: 130px;
    
            svg .st0{
                fill: $pale-grey;
            }
        }
    }
    
}
        
        