@font-face{
    font-family: 'GT America Light';
    src: url('../../fonts/GT-America-Light.woff'), format('woff');
}

@font-face{
    font-family: 'GT America Medium';
    src: url('../../fonts/GT-America-Medium.woff') format('woff');
}

@font-face{
    font-family: 'GT America Bold';
    src: url('../../fonts/GT-America-Bold.woff') format('woff');
}

@font-face{
    font-family: 'GT America Black';
    src: url('../../fonts/GT-America-Black.woff') format('woff');
}

@font-face{
    font-family: 'GT America Expanded Light';
    src: url('../../fonts/GT-America-Expanded-Light.woff') format('woff');
}

@font-face{
    font-family: 'GT America Expanded Black';
    src: url('../../fonts/GT-America-Expanded-Black.woff') format('woff');
}

@font-face {
    font-family: 'Canela-Light';
    src: url('../../fonts/Canela-Light.woff2') format('woff2'), url('../../fonts/Canela-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela';
    src: url('../../fonts/Canela-Regular.woff2') format('woff2'), url('../../fonts/Canela-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Canela-Bold';
    src: url('../../fonts/Canela-Bold.woff2') format('woff2'), url('../../fonts/Canela-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

