%contact-phone{
    font-family: $primary-bold;
    font-size: $paragraph-desktop;
    color: $darkblue;
}

%main-title{
    font-family: $primary-bold;
    font-size: $big-title-desktop;
    line-height: $big-title-lh-desktop;
    color: $darkblue;

    @include phone-landscape-to-tablet-landscape{
        font-size: $big-title-tablet;
        line-height: $big-title-lh-tablet;                    
    }

    @include for-phone-only{
        font-size: $big-title-mobile;
        line-height: $big-title-lh-mobile;
    }
}

/* // son iguales!!!

%seguros-page-title{
    font-family: $primary-bold;
    font-size: $big-title-desktop;
    line-height: $big-title-lh-desktop;
    color: $darkblue;
} */

%serif-title{
    font-family: $secondary-bold;
    font-size: $huge-title-desktop;
    line-height: $huge-title-lh-desktop;
    color: $darkblue;
    font-weight: $bold;
    letter-spacing: -2px; // is it normal?

    @include from-iPad-portrait-to-landscape{
        font-size: $huge-title-tablet;
        line-height: $huge-title-lh-tablet;
    }

    @include for-tablet-portrait-down{
        font-size: $huge-title-mobile;
        line-height: $huge-title-lh-mobile;
    }
}

%seguros-page-paragraph{
    font-family: $primary-light;
    font-size: 20px;
    line-height: 22px;
    color: $darkblue;
}

%carousel-img-title{
    @extend %serif-title;
    font-size: 41px;
    line-height: 46px;
    padding-top: 35px;

    @include from-iPad-portrait-to-landscape{
        font-size: 36px;
        line-height: 40px;
    }
}

%cntb-button{
    font-family: $primary-black;
    font-size: $paragraph-desktop;
    padding: 7px 30px;
    border: 2px solid $darkblue;
    color: $darkblue;
    
    @include from-tablet-landscape-down{
        font-size: $small-tablet;
    }

    &:hover{
        background-color: $darkblue;
        color: $white;
    }
}

%top-img-banner{
    height: 345px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .banner-title{
        height: 100%;

        .banner-title-text{
            padding-bottom: 40px;
            font-family: $primary-black;
            font-size: 40px;
            color: $white;
            
            span{
                font-family: $primary-light;
            }

            @include phone-landscape-to-tablet-portrait{
                font-size: $big-title-tablet;
            }

            @include for-phone-only{
                font-size: $big-title-mobile;
            }
        }
    }
}

