%contact-phone{
    font-family: $primary-bold;
    font-size: $paragraph-desktop;
    color: $darkblue;
}

%main-title{
    font-family: $primary-bold;
    font-size: $big-title-desktop;
    line-height: $big-title-lh-desktop;
}

%serif-title{
    font-family: $secondary-bold;
    font-size: $huge-title-desktop;
    line-height: $huge-title-lh-desktop;
    color: $darkblue;
    font-weight: $bold;
    letter-spacing: -2px; // is it normal?
}

%seguros-page-title{
    font-family: $primary-bold;
    font-size: $big-title-desktop;
    line-height: $big-title-lh-desktop;
    color: $darkblue;
}

%seguros-page-paragraph{
    font-family: $primary-light;
    font-size: 20px;
    line-height: 22px;
    color: $darkblue;
}

%carousel-img-title{
    @extend %serif-title;
    font-size: 41px;
    line-height: 46px;
    padding-top: 35px;
}

%cntb-button{
    font-family: $primary-black;
    font-size: $paragraph-desktop;
    padding: 7px 30px;
    border: 2px solid $darkblue;
    color: $darkblue;
    &:hover{
        background-color: $darkblue;
        color: $white;
    }
}

%seguros-detail-top-banner{
    height: 345px;
    background-repeat: no-repeat;
    background-size: cover;
    
    .banner-title{
        height: 100%;

        .banner-title-text{
            padding-bottom: 40px;
            font-family: $primary-black;
            font-size: 40px;
            color: $white;
            
            span{
                font-family: $primary-light;
            }
        }
    }
}

