%contact-phone{
    font-family: $primary-bold;
    font-size: $paragraph-desktop;
    color: $darkblue;
}

%main-title{
    font-family: $primary-bold;
    font-size: $big-title-desktop;
    line-height: $big-title-lh-desktop;
    color: $darkblue;

    @include phone-landscape-to-tablet-landscape{
        font-size: $big-title-tablet;
        line-height: $big-title-lh-tablet;                    
    }

    @include for-phone-only{
        font-size: $big-title-mobile;
        line-height: $big-title-lh-mobile;
    }
}

%serif-title{
    font-family: $secondary-bold;
    font-size: $huge-title-desktop;
    line-height: $huge-title-lh-desktop;
    color: $darkblue;
    font-weight: $bold;

    @include from-iPad-portrait-to-landscape{
        font-size: $huge-title-tablet;
        line-height: $huge-title-lh-tablet;
    }

    @include for-tablet-portrait-down{
        font-size: $huge-title-mobile;
        line-height: $huge-title-lh-mobile;
    }
}

%seguros-page-paragraph{
    font-family: $primary-light;
    font-size: 20px;
    line-height: 22px;
    color: $darkblue;
}

%carousel-img-title{
    padding-top: 35px;
    @extend %serif-title;

    @include for-tablet-portrait-up{
        font-size: 41px;
        line-height: 46px;
    }
    
}

%cntb-button{
    font-family: $primary-black;
    font-size: $paragraph-desktop;
    padding: 7px 30px;
    border: 2px solid $darkblue;
    color: $darkblue;
    
    @include from-tablet-landscape-down{
        font-size: $small-tablet;
    }

    &:hover{
        background-color: $darkblue;
        color: $white;
    }
}

%top-img-banner{
    height: 345px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include for-phone-only{
        height: 225px;
    }

    
    .banner-title{
        height: 100%;

        .banner-title-text{
            padding-bottom: 40px;
            font-family: $primary-black;
            font-size: 40px;
            color: $white;
            
            span{
                font-family: $primary-light;
            }

            @include phone-landscape-to-tablet-portrait{
                font-size: $big-title-tablet;
            }

            @include for-phone-only{
                font-size: $big-title-mobile;
                padding: {
                    bottom: 20px;
                    left: 20px;
                }
            }
        }
    }

    .banner-seguros-detail.banner-navs{
        position: absolute;
        top: 45%;

        .arrow-nav{
            position: absolute;
            width: 24px;
            top: 0;

            &.prev{
                left: 0;
            }

            &.next{
                right: 0;
            }
        }

        .item-icon{
            position: absolute;
            top: -15px;
            left: 25%;
            height: 40px;

            @include for-phone-landscape-up{
                top: -25px;
                height: 50px;
            }

            @include for-tablet-portrait-up{
                left: 35%;
            }
        }

    }

}