.equipo-page{

    .top-banner{
        color: $darkblue;
        &.top-banner{
            @extend %top-img-banner;
            background-image: url(/assets/img/equipo/banner-top-equipo.jpg);

            @include phone-landscape-to-tablet-landscape{
                background-image: url(/assets/img/equipo/banner-top-equipo-tablet.jpg);
            }

            @include for-phone-only{
                background-image: url(/assets/img/equipo/banner-top-equipo-mobile.jpg);
                height: 235px;
            }
            .banner-title-text{
                color: $lightpeach;
            }
        }

    }

    .container-bg{
        background-color: $pale-grey;

        section.presentation{
            padding-top: 70px;

            .presentation-text{
                
                h2{
                    @extend %main-title;

                    span{
                        font-family: $primary-light;
                    }
                }
                
            }

            .equipo-presentation-paragraph{
                padding-top: 25px;
                font-family: $primary-light;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;
                color: $darkblue;

                span{
                    padding-top: 20px;
                    font-family: $primary-bold;
                }

                @include for-phone-only{
                    font-size: $regular-mobile;
                    line-height: $regular-lh-mobile;
                }
            }
    
            .presentation-highlight{
                margin-top: 25px;
                padding: 60px 1em;
                font-family: "GT America Light", sans-serif;
                font-size: 15px;
                line-height: 17px;
                color: #003b61;
                background-color: #fed198;
                border: 20px solid;
                border-image: url(/assets/img/equipo/corners-card.svg) 20;
                border-image-outset: 15px;

                @include from-phone-landscape-to-desktop{
                    border-image-outset: 10px;
                }

                span{
                    font-family: $primary-bold;
                }

            }

            .equipo-presentation-slogan{
                font-family: $primary-bold;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;
                color: $darkblue;
            }
        }

        section.keywords{
            padding-top: 85px;

            p{
                padding: {
                    top: 15px;
                    bottom: 15px;
                }
                font-family: 'Canela-Light', sans-serif;
                font-size: $big-title-desktop;
                line-height: $big-title-lh-desktop;
                border-top: 4px solid $white;
                &:last-child{
                    border-bottom: 4px solid $white;
                }
                &:hover{
                    cursor: default;  
                    animation-name: scale-up;
                    animation-duration: .5s;
                    animation-fill-mode: forwards;
                    animation-direction: alternate;
                }
                    @keyframes scale-up{
                        from{
                            font-size: current;
                        }
                        to{
                            font-size: 60px;
                        }
                    } 
            }
        }

        section.featured{
            padding-top: 150px;

            .col .row:last-child{
                padding-top: 80px;

                @include from-iPad-portrait-to-landscape{
                    padding-top: 200px;
                }

                @include for-tablet-landscape-up{
                    padding-top: 320px;
                }
            }

            .featured-img{
                mix-blend-mode: multiply;
                &.justicia{
                    padding:{
                        top: 40px;
                        bottom: 50px;
                    }

                    @include for-phone-landscape-up{
                        padding-top: 115px;
                    }
                }
                &.ayuda{
                    padding-bottom: 50px;

                /*     @include for-phone-landscape-up{
                        padding-top: 115px;
                    } */
                }

                @include from-tablet-landscape-down{
                    width: 100%;
                }

            }

            h3,p{
                @extend %seguros-page-paragraph;

                    @include for-tablet-portrait-down{
                        font-size: $medium-mobile;
                        line-height: $medium-lh-mobile;
                    }

                    @include for-phone-only{
                        font-size: $regular-mobile;
                        line-height: $regular-lh-mobile;
                    }

                &.our-asset{
                    padding:{
                        top: 5px;
                        bottom: 5px;
                    }
                    margin-bottom: 0;
                    margin-block-end: 0;;
                    border-top: 2px solid $lightgrey;
                    &:last-child{
                        border-bottom: 2px solid $lightgrey;
                    }
                    font-size: $small-desktop;
                    line-height: $small-lh-desktop;

                }
                &.decorated::before{
                    content: '';
                    display: block;
                    width: 85px;
                    height: 1px;
                    padding-bottom: 25px;
                    border-top: 8px solid $darkblue;

                    @include for-phone-landscape-up{
                        width: 175px;
                    }
                }
            }

            h3.decorated{
                font-family: $primary-bold;
            }

            p:not(.no-bold){
                @include for-phone-only{
                    font-family: $primary-bold;
                }
            }

        }

    }

}