section.llamanos-cta{

    padding-bottom: 190px;

    @include for-tablet-portrait-down{
        padding-top: 100px !important;
    }

    .col-10{
        padding-top: 40px;
        border-top: 4px solid $white;

        .cta-text{
            padding:{
                top: 20px;
                right: 0;
            }

            .logo-cantabrana-cta{
                width: 115px;
            }
        
            .cta-question{
                padding-top: 20px;
                margin-bottom: 5px;
                @extend %main-title;
                color: $darkblue;
                letter-spacing: -1px;
            }

            .cta-answer{
                font-family: $primary-light;
                font-size: $regular-desktop;
                color: $darkblue;

                @include for-phone-only{
                    font-size: $small-mobile;
                    line-height: $small-lh-mobile;
                }
            }
        }

        svg{
            @include for-desktop-down{
                width: 75px;
            }
        }

        .cta-btn{
            padding-top: 30px;

            @include for-tablet-portrait-up{
                padding-top: 85px;
            }

            .cta-call{
                @extend %cntb-button;
            }
        }
 
    }
    
}

section.protegemos-img{
    padding: {
        top: 80px;
        bottom: 100px;
    }

    @include for-phone-landscape-up{
        padding: {
            top: 150px;
            bottom: 180px;
        }
    }

    img{
        width: 175px;

        @include for-phone-landscape-up{
            width: 375px;
        }
    }
}

.footer-menu{
    border-top: 1px solid $lightpeach;
    padding-top: 20px;
}

.footer-menu,
.footer-legal{

    ul{
        padding-left: 0;

        li{
            list-style: none;

            
        }
    }

    a,p{
        font-family: $primary-light;
        font-size: $tiny-desktop;
        color: $darkblue;
        border: none;
        &.legal{
            font-family: $primary-medium;
            &.link{
                text-decoration: underline;
            }
            
        }
        &:not(.legal){
            line-height: $tiny-lh-mobile;
        } 
    }
}