header.header-cntb{
    padding-top: 25px;

    @include for-phone-landscape-up{
        padding-top: 75px;
    }

    .col-5{
        padding-right: 0;
    }

    .home-brand{
        margin-block-end: 0;
        
        img{
            width: 150px;
        }
    } 
    
    .home-title{
        font-family: $primary-light;
        font-size: $regular-desktop;
        color: $darkblue;

        @include from-tablet-landscape-down{
            font-size: 15px;
        }
    }

    .top-contact{
        padding-top: 15px;

        .top-contact-phone{
            @extend %contact-phone;
            padding-left: 0;
            align-self: flex-end;

            span.break{
                @include for-desktop-down{
                    display: block;
                }
            }
        }
    
        .top-sm-icon{
            padding:{
                left: 0;
                right: 5px;
            }
        }
    
    }
    
}