header.header-cntb{

    padding-top: 75px;

    .home-brand img{
        width: 150px;
    }

    .home-title{
        font-family: $primary-light;
        font-size: $regular-desktop;
        color: $darkblue;
    }

    .top-contact-phone{
        @extend %contact-phone;
        padding-left: 0;
        align-self: flex-end;
    }

    .top-sm-icon{
        padding:{
            left: 0;
            right: 5px;
        }
    }

    .login-btn a{
        @extend %cntb-button;
    }
}