header.header-cntb{

    padding-top: 75px;

    .home-brand img{
        width: 150px;
    }

    .home-title{
        font-family: $primary-light;
        font-size: $regular-desktop;
        color: $darkblue;

        @include from-iPad-portrait-to-landscape{
            font-size: 15px;
        }
    }

    .top-contact{
        padding-top: 15px;

        .top-contact-phone{
            @extend %contact-phone;
            padding-left: 0;
            align-self: flex-end;
        }
    
        .top-sm-icon{
            padding:{
                left: 0;
                right: 5px;
            }
        }
    
    }

    .login-btn a{
        @extend %cntb-button;
    }

    
}