.home-page{

    section.home-cards{
        padding-top: 70px;

        @include for-phone-only{
            margin: 0;
            padding-top: 35px;
        }
    }

    .home-card{
        position: relative;
        height: 250px;
        &.seguros-card{
            background-image: url(../../img/home/ico/png/fondo_seguros_home-w-gradient.png);
            background-color: #25d4c6;
            background-repeat: no-repeat;
            background-size: contain;

            @include for-phone-only{
                background-size: cover;
            }
        }
        &.asistencia-card,
        &.equipo-card{
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @include for-tablet-portrait-down{
                max-width: 48%;
            }
        }
        &.asistencia-card{
            background-image: url(../../img/home/jpeg/asistencia@2x.jpg);
        }
        &.equipo-card{
            background-image: url(../../img/home/jpeg/equipo-mask@2x.jpg);
        }

        @include for-phone-landscape-up{
            height: 415px;
        }

        @include for-tablet-portrait-up{
            max-width: 49%;
        }

        .home-card-title{
            padding: 30px 0 0 30px;
            @extend %main-title;
            color: $white;

            @include from-tablet-landscape-down{
                padding-left: 0;
            }

            @include from-iPad-portrait-to-landscape{
                font-size: $big-title-tablet;
                line-height: $big-title-lh-tablet;
            }
        }

        .home-card-paragraph{
            font-family: $primary-medium;
            font-size: $small-desktop;
            line-height: $regular-lh-desktop;
            color: $white;
            &.seguros{
                color: $darkblue;
            }

            @include from-iPad-portrait-to-landscape{
                font-size: $regular-tablet;
                line-height: $regular-lh-tablet;
            }

            @include for-phone-only{
                font-size: $small-mobile;
                line-height: $small-lh-mobile;
            }
        }

        .home-card-name{
            font-family: $primary-black;
            font-size: 21px;
            color: $white;
            &::after{
                content:'';
                display: inline;
                width: 1px;
                padding-left: 10px;
                border-right: 4px solid $white;
            }
        }

        .home-card-icon{
            position: absolute;
            text-align: center;
            top: 30px;
            &.shield{
                right: 30px;
            }
            &:not(.shield){
                left: 35%;
            }
            
            &.iconx{
                width: 45px;   
            }

            @include for-phone-landscape-up{
                width: 75px !important;

            }
            
        }

        .home-card-text{
            position: absolute;
            bottom: 20px;
        }
    }

    /*------- Home carousel ------- */

    section.carrusel{
        padding-top: $sp-100;
        margin-bottom: $sp-50;

        .carousel-item{
            padding-bottom: 10px;
            background-color: $white;

            .carousel-content{
                margin: auto;
                &.carousel-img{
                    position: relative;

                    .carousel-img{
                        @include from-tablet-landscape-down{
                            width: 100%;
                        } 
                    }
                    
                    .slide-img-title{
                        position: absolute;
                        top: 0;
                        @extend %carousel-img-title;
                    }
                }
                &.carousel-text{
                    padding-top: 30px;
                    color: $darkblue;
            
                    .carousel-item-headline{
                        font-family: $primary-bold;
                        font-size: $regular-desktop;
                        
                        @include from-iPad-portrait-to-landscape{
                            font-size: $regular-tablet;
                        }
                    }
                
                    .slide-paragraph{
                        margin-bottom: 20px;
                        font-family: $primary-light;
                        font-size: $paragraph-desktop;
                        line-height: $regular-lh-desktop;
                    }
            
                    .carousel-button{
                        @extend %cntb-button;
                    }
                
                }

                @include for-tablet-landscape-up{
                    width: 375px;
                }
            }
            
        }

        .carousel-ctrl{
            fill: $lightgrey;
            &.prev{
                left: -6%;
            }
            &.next{
                right: -6%;
            }


        }
        .carousel-ctrl-arrow{
            &.next{
                transform: rotate(180deg);
            }
        }

    }

    /*----- End Home carousel ----- */

    .container-bg{
        background-color: $lightbrown;
    }
    
    section.index-seguros{
        padding:{
            top: $sp-50;
            bottom: $sp-60;
        }

        p{
            font-family: $primary-light;
            font-size: $tiny-desktop;
        }

        // More styles at partial '_seguros.scss' (shared with '/seguros.html')

        .seguros-item-price{
            margin-bottom: $sp-80;
            padding-top: 20px;

            span{
                font-family: $primary-light;
                font-size: $regular-desktop;
                line-height: $regular-lh-desktop;
            }
        } 
        
        .ver-seguros-button{
            @extend %cntb-button;
        }
    }

    section.seguros-reminder{
        padding-bottom: $sp-70;

        .seguros-reminder-text{
            padding-top: 50px;

            @include for-phone-only{
                margin-right: auto;
                padding-left: 40px;
            }

            @include for-tablet-portrait-up{
                padding-top: 225px;
            }
            
            .seguros-reminder-title{
                @extend %main-title;
                color: $darkblue;
            }
        
            .seguros-reminder-paragraph{
                font-family: $primary-light;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;
                padding-bottom: $sp-50;
            }
        
            .seguros-reminder-button{
                @extend %cntb-button;
            }

        }

        img{
            width: 235px;

            @include for-phone-landscape-up{
                width: 100%;
            }
            

            @include for-tablet-portrait-up{
                width: 375px;
                height: 610px;
            }
            
        }
    }

    section.equipo{
        padding-bottom: $sp-60;
        background-color: $darkblue;

        .equipo-img{
            padding-left: 0;
            overflow: hidden;
        
            img{
                width: 105%; // ? fix!

                /* @include for-tablet-landscape-up{
                    object-position: 0 -125px;
                } */
                
            }
        }
        
        .equipo-text{
            background-color: $darkblue;
            color: $white;
            text-align: center;

            .equipo-brand{
                padding:{
                    top: $sp-50;
                    bottom: $sp-20;
                }
            font-family: $primary-light;
            font-size: $small-desktop;
            color: $lighterblue;
            }

            .equipo-slogan{
                @extend %serif-title;
                font-family: $secondary-regular;
                font-weight: 500;
                color: $white;
            }

            .equipo-paragraph{
                padding-bottom: $sp-50;
                font-family: $primary-light;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;

                @include for-phone-only{
                    font-size: $small-mobile;
                    line-height: $small-lh-mobile;
                }

            }

            .equipo-button{
                @extend %cntb-button;
                border-color: $lightpeach;
                color: $lightpeach;
                &:hover{
                    background-color: $white;
                    color: $darkblue;
                }

            }
        }
    }

    section.contacto{
        padding-top: $sp-70;

        .promo-contacto{
            padding-bottom: 40px;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: 335px;
                border: 2px solid $darkblue;
                z-index: -1;

                @include for-phone-landscape-up{
                    top: 100px;
                    height: 285px;
                }
            }

            .col-promo{
                padding-left: 20px;

                .contacto-slogan{
                    @extend %serif-title;
                    color: $darkblue;

                    @include for-phone-landscape-up{
                        padding-top: 160px;
                    }

                    @include for-phone-only{
                        &::after{
                            content: '';
                            display: block;
                            width: 25px;
                            height: 1px;
                            padding-bottom: 20px;
                            border-bottom: 8px solid $darkblue;
                            margin: auto;
                        }
                    }

                }
            }
                
            .col-paraguas{

                @include for-desktop-up{
                    padding-left: 65px;
                }
                
                .contacto-paraguas{
                    width: 130px;

                    @include for-phone-landscape-up{
                        width: 275px;
                    }
                    
                }
            }

            .contacto-text{
                font-family: $primary-bold;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;
                color: $darkblue;
                span{
                    font-family: $primary-light;
                }

                @include for-phone-only{
                    font-size: $small-mobile;
                    line-height: $small-lh-mobile;
                }
            }
        
        }

        // more styles at _contacto.scss

        .email-footer{
            height: 150px;
            margin-top: 20px;
            padding: 20px;
            background-color: $darkblue;

            .send-us-mail{
                font-family: $primary-light;
                font-size: $small-desktop;
                line-height: $regular-lh-desktop;
                color: $lightbrown;

                @include for-phone-only{
                    font-size: $small-mobile;
                    line-height: $small-lh-mobile;
                }
            }

            .email-address{
                font-family: $primary-medium;
                font-size: $small-desktop;
                color: $lighterblue
            }
        }
    }

}





