@mixin for-phone-only {
    @media (max-width: 575.98px) { @content; }
  }
  @mixin for-phone-landscape-up {
    @media (min-width: 576px) { @content; }
  }

  @mixin for-tablet-portrait-up{
    @media (min-width: 768px) { @content; }
  }

  // From tablet portrait down
  @mixin for-tablet-portrait-down {
    @media (max-width: 767.98px) { @content; }
  }

  // From phone landscape to tablet portrait
  @mixin phone-landscape-to-tablet-landscape{
    @media (min-width: 576px) and (max-width: 991.98px){ @content; }
  }

  // Devices / widths between phone and tablet portrait (included)
  @mixin phone-landscape-to-tablet-portrait {
    @media (min-width: 576px) and (max-width: 767.98px){ @content; }
  } 

  // From iPad portrait to landscape
  @mixin from-iPad-portrait-to-landscape {
    @media (min-width: 768px) and (max-width: 991.98px) { @content; }
  }

  @mixin from-phone-landscape-to-desktop{
    @media (min-width: 576px) and (max-width: 1199.98px){ @content; }
  }

  // Medium devices, most tablet portrait
  @mixin from-tablet-landscape-down {
      @media (max-width: 991.98px) { @content; }
  }

  @mixin for-tablet-landscape-up {
    @media (min-width: 992px) { @content; }
  }

  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }

  // From Tablet-landscape to desktop
  @mixin for-tablet-landscape-to-desktop {
    @media (min-width: 992px) and (max-width: 1199.98px) { @content; }
  }

  @mixin for-desktop-down {
    @media (max-width: 1199.98px){ @content; }
  }