.seguros-detail-page{

    .seguros-detail-top-banner{
        color: $darkblue;
        &.top-banner{
            @extend %seguros-detail-top-banner;
            &.automovil{
                background-image: url(/assets/img/detail_seguros/jpeg/seguro_auto_banner@3x.jpg);
            }
        }

    }

    .container-bg{
        background-color: $pale-grey;

        section.presentation{
            padding-top: 70px;

            .presentation-text{
                
                h2{
                    @extend %seguros-page-title;
                }
    
                .seguros-page-paragraph{
                    padding-top: 25px;
                    @extend %seguros-page-paragraph;
                    width: 70%;
                }
                
            }
    
            .presentation-img{
                margin-top: -35px;
                mix-blend-mode: multiply;;
            }
        }
    
        section.reasons{
            padding-top: 100px;
    
            .reason-text{
                padding-top: 65px;
                @extend %seguros-page-paragraph;
            }
        }
        
        section.cta-presupuesto{
            padding-top: 90px;
    
            .col{
                background-color: $darkblue;
                padding: 10px;
    
                a{
                    font-family: 'GT America Expanded Black', sans-serif;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    color: $lightpeach;
                }
    
            }
    
        }
        
        section.section-ventajas{
            padding-top: 130px;
    
            .col-9{
                position: relative;
                background-color: $lighterblue;
                &::before{
                    content: '';
                    position: absolute;
                    display: inline;
                    top: -1.5%;
                    left: 90%;
                    width: 100px;
                    height: 100px;
                    z-index: -1;
                    background-color: $white;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: inline;
                    bottom: -1.5%;
                    right: 90%;
                    width: 100px;
                    height: 100px;
                    z-index: -1;
                    background-color: $white;
                }
    
                .ventajas-title{
                    padding-top: 70px;
                    @extend %serif-title;
                }
    
                .ventajas{
                    padding-top: 75px;
                    
                    .col-6{
                        padding:{
                            left: 4em;
                            right: 4em;
                        }

                        min-height: 350px;
                    }
    
                    h3,p{
                        @extend %seguros-page-paragraph;
                    }
        
                    h3{
                        padding-top: 10px;;
                        font-family: $primary-bold;
                        margin-bottom: 0;
                        margin-block-end: 0;
                    }
    
                }
                
            }
        }
        
        section.promo-img-banner{
            padding-top: 220px;
    
            .col{
                padding:{
                    left: 0;
                    right: 0;
                }
    
            }
        }
        
        section.llamanos-cta{
            padding-top: 220px;
    
            svg .st0{
                fill: $pale-grey;
            }
        }
    }

}
    
    


