.seguros-detail-page{
    
/*     section, div, p{
        border: 1px solid blue;
    } */

    .seguros-detail-top-banner{
        color: $darkblue;
        &.top-banner{
            @extend %top-img-banner;
            &.automovil{
                background-image: url(/assets/img/detail_seguros/jpeg/seguro_auto_banner@3x.jpg);

                @include for-phone-only{
                    background-image: url(/assets/img/detail_seguros/jpeg/seguro_auto_banner-mobile@2x.jpg);
                }
            }
        }

    }

    .container-bg{
        background-color: $pale-grey;

        section.presentation{
            padding-top: 70px;

            @include for-phone-only{
                margin: 0;
            }

            .presentation-text{
                
                h2{
                    @extend %main-title;
                }
    
                .seguros-page-paragraph{
                    padding-top: 25px;
                    @extend %seguros-page-paragraph;
                    width: 70%;
                }
                
            }
    
            .presentation-img{
                mix-blend-mode: multiply;

                @include for-desktop-up{
                    margin-top: -35px;
                }
            }
        }
    
        section.reasons{
            
            @include for-phone-landscape-up{
                padding-top: 100px;
            }
    
            .reason-text{
                padding-top: 40px;
                @extend %seguros-page-paragraph;

                @include phone-landscape-to-tablet-landscape{
                    font-size: $small-desktop;
                    line-height: $regular-lh-desktop;
                }

                @include for-phone-only{
                    font-size: $medium-mobile;
                    line-height: $medium-lh-mobile;
                }

                @include for-tablet-landscape-up{
                    padding-top: 65px;
                }
            }
        }
        
        section.cta-presupuesto{
            padding-top: 90px;
    
            .col-11{
                background-color: $darkblue;
                padding: 10px;
    
                a{
                    font-family: 'GT America Expanded Black', sans-serif;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    color: $lightpeach;
                }
    
            }
    
        }
        
        section.section-ventajas{
            padding-top: 130px;
    
            .ventajas-table{
                position: relative;
                background-color: $lighterblue;
                &::before{
                    content: '';
                    position: absolute;
                    display: inline;
                    top: -1.5%;
                    left: 90%;
                    width: 100px;
                    height: 100px;
                    z-index: -1;
                    background-color: $white;
                }
                &::after{
                    content: '';
                    position: absolute;
                    display: inline;
                    bottom: -1.5%;
                    right: 90%;
                    width: 100px;
                    height: 100px;
                    z-index: -1;
                    background-color: $white;
                }
    
                .ventajas-title{
                    padding-top: 70px;
                    @extend %serif-title;
                }
    
                .ventajas{
                    padding:{
                        top: 75px;
                        bottom: 75px;
                    }
                    
                    .col-6{
                        padding:{
                            left: 4em;
                            right: 4em;
                        }

                        min-height: 350px;
                    }
    
                    h3,p{
                        @extend %seguros-page-paragraph;

                        @include phone-landscape-to-tablet-landscape{
                            font-size: $small-desktop;
                            line-height: $regular-lh-desktop;
                        }
        
                        @include for-phone-only{
                            font-size: $medium-mobile;
                            line-height: $medium-lh-mobile;
                        }
                    }
        
                    h3{
                        padding-top: 10px;;
                        font-family: $primary-bold;
                        margin-bottom: 0;
                        margin-block-end: 0;
                    }
    
                }
                
            }
        }
        
        section.promo-img-banner{
            padding-top: 220px;
    
            .col{
                position: relative;
                padding:{
                    left: 0;
                    right: 0;
                }

                    .promo-img-text{
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 20px;
                        font-family: $primary-light;
                        font-size: $big-title-mobile;
                        line-height: $big-title-lh-mobile;
                        color: $white;
                        
                        span{
                            font-family: $primary-bold;
                        }
                    }
                
    
            }
        }
        
        section.llamanos-cta{
            padding-top: 220px;
    
            svg .st0{
                fill: $pale-grey;
            }
        }
    }

}
    
    


