.index-seguros-page{

    .container-bg{
        background-color: $lightbrown;

        section.seguros-banner{
            padding-bottom: 100px;
    
            .banner-text{
                padding: {
                    top: 40px;
                    bottom: 40px;
                    right: 0;
                }

                @include for-tablet-portrait-up{
                    padding-top: 280px;
                    padding-bottom: 0;
                }
    
                h2{
                    font-family: $primary-black;
                    font-size: 40px;
                    line-height: $big-title-lh-desktop + 5px;
                    letter-spacing: -1px;
                    color: $darkblue;

                    @include for-phone-only{
                        font-size: $big-title-mobile;
                        line-height: $big-title-lh-mobile;
                    }
                }
    
                p{
                    font-family: $primary-light;
                    font-size: $regular-desktop;
                    line-height: $regular-lh-desktop;
                    color: $darkblue;

                    @include for-phone-only{
                        font-size: $small-mobile;
                        line-height: $small-lh-mobile;
                    }

                    @include for-phone-landscape-up{
                        padding-top: 25px;
                    }
                }
            }
    
            .banner-img{
            
                img{
                    mix-blend-mode: multiply;

                    @include for-desktop-up{
                        margin-top: -30px;
                    }
                }
            }
    
        }
        
        section.llamanos-cta{
            padding-top: 500px;
        }
    
    }
    
}

// The following styles are shared with a Home section so they go outside .index-seguros-page{ }
    
.seguros-title{
    @extend %serif-title;
    padding-bottom: $sp-50;
}

.nav-tabs{
    border-bottom: transparent;
    padding: 0;

    .nav-link{
        font-family: 'GT America Expanded Light', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        text-align: center;
    
        @include for-phone-only{
            font-size: $tiny-mobile;
            line-height: $tiny-lh-mobile;
        }
        &.active{
            background-color: inherit !important;
            border-color: transparent !important;
            border-bottom: 8px solid $darkblue !important;
            span{
                font-family: 'GT America Expanded Black', sans-serif;
            }
        }
        &:hover{
            border-color: transparent !important;
            border-bottom: 8px solid $darkblue !important;
        }
    
    }
}

.tab-content{
    padding: {
        top: $sp-60;
        left: 0;
        right: 0;
    }

    .seguros-icons{

        @include for-phone-only{
            flex-wrap: nowrap;
            overflow-x: auto;
        }
    }

    .owl-carousel{

        @include for-phone-landscape-up{
            display: flex !important;
        }

        .owl-stage-outer{
            max-height: 205px;

            .owl-item{
                max-width: 175px !important;
            }

        }
        
    }

    .seguros-item{
        margin-bottom: 25px;
        position: relative;
        flex: 0 0 auto;
        height: 175px;
        border: 8px solid $white;

        @include for-phone-landscape-up{
            max-width: 175px;
        }

        &:hover{
            background-color: $white;
            box-shadow: 5px 5px 40px 5px #d5c195;
        }

        .vehicle-class{
            position: absolute;
            bottom: 5px;
            font-family: $primary-bold;
            font-size: $small-desktop;
            color: $darkblue;
        }

    }

    #nav-contact{
        
        .seguros-item{
            border-color: $darkblue;
            
            &:hover{
                background-color: $darkblue;
                box-shadow: 5px 5px 40px 5px inherit;

                img{
                    filter: brightness(0) saturate(100%) invert(97%) sepia(12%) saturate(289%) hue-rotate(214deg) brightness(120%) contrast(100%);
                }

                span{
                    color: $white;
                }
            }
        }
    }

    .seguros-category{
        color: $white;
        border-color: transparent;
        &.agricola{
            background-color: $darkblue;
        }

        span{
            font-family: $primary-bold;
            font-size: $small-desktop;
            line-height: $regular-lh-desktop;;
            color: $white;
        }
    }
}

