// Colors
$white: #ffffff;
$darkblue: #003b61;
$lightblue: #22d3c5;
$lighterblue: #ccfeff;
$lightbrown: #fbe3c6;
$lightpeach: #fed198;

// Fonts
$primary-black: 'GT America Black', sans-serif;
$primary-bold: 'GT America Bold', sans-serif;
$primary-medium: 'GT America Medium', sans-serif;
$primary-light: 'GT America Light', sans-serif;

$secondary-bold: 'Canela-Bold', serif;
$secondary-regular: 'Canela-Regular', serif;


// Font sizes
$huge-title-desktop: 55px;
$big-title-desktop: 32px;
$regular-desktop: 17px;
$small-desktop: 15px;
$paragraph-desktop: 13px;

// Line heights
$huge-title-lh-desktop: 61px;
$big-title-lh-desktop: 35px;
$regular-lh-desktop: 17px;

// Font weights
$bold: 600;

// Spacing
$sp-200: 200px;
$sp-100: 100px;
$sp-90: 90px;
$sp-80: 80px;
$sp-70: 70px;
$sp-60: 60px;
$sp-50: 50px;
$sp-20: 20px;




