// Colors
$white: #ffffff;
$darkblue: #003b61;
$lightblue: #22d3c5;
$lighterblue: #ccfeff;
$lightbrown: #fbe3c6;
$pale: #fee8cb;
$lightpeach: #fed198;
$lightgrey: #beced6;
$pale-grey: #ecf0f3;

// Fonts
$primary-black: 'GT America Black', sans-serif;
$primary-bold: 'GT America Bold', sans-serif;
$primary-medium: 'GT America Medium', sans-serif;
$primary-light: 'GT America Light', sans-serif;

$secondary-bold: 'Canela-Bold', serif;
$secondary-regular: 'Canela-Regular', serif;


// Font sizes
// Desktop
$huge-title-desktop: 55px;
$big-title-desktop: 32px;
$regular-desktop: 17px;
$small-desktop: 15px;
$paragraph-desktop: 13px;
$tiny-desktop: 10px;

// Tablet
$huge-title-tablet: 46px;
$big-title-tablet: 26px;
$regular-tablet: 13px;
$small-tablet: 10px;
/* $paragraph-tablet: 13px-.2rem;
$tiny-tablet: 10px-.2rem; */

// Mobile
$huge-title-mobile: 40px;
$big-title-mobile: 20px;
/* $regular-mobile: 17px; */
$small-mobile: 10px;
/* $paragraph-mobile: 13px; */
$tiny-mobile: 8px;

// Line heights
// Desktop
$huge-title-lh-desktop: 61px;
$big-title-lh-desktop: 35px;
$regular-lh-desktop: 17px;
$small-lh-desktop: 15px;
$tiny-lh-desktop: 13px;

// Tablet
$huge-title-lh-tablet: 48px;
$big-title-lh-tablet: 28px;
$regular-lh-tablet: 13px;
$small-lh-tablet: 10px;
/* $tiny-lh-tablet: 13px; */

// Mobile
$huge-title-lh-mobile: 42px;
$big-title-lh-mobile: 22px;
/* $regular-lh-tablet: 13px;*/
$small-lh-mobile: 13px; 
$tiny-lh-mobile: 10px; 


// Font weights
$bold: 600;

// Spacing
$sp-200: 200px;
$sp-100: 100px;
$sp-90: 90px;
$sp-80: 80px;
$sp-70: 70px;
$sp-60: 60px;
$sp-50: 50px;
$sp-20: 20px;




