// Colors
$white: #ffffff;
$darkblue: #0b4269;
$lightblue: #22d3c5;
$lightbrown: #fbe3c6;

// Fonts
$primary-black: 'GT America Black', sans-serif;
$primary-bold: 'GT America Bold', sans-serif;
$primary-medium: 'GT America Medium', sans-serif;
$primary-light: 'GT America Light', sans-serif;

$secondary-bold: 'Canela-Bold', serif;
$secondary-regular: 'Canela-Regular', serif;


// Font sizes
$big-title-desktop: 55px;
$regular-desktop: 17px;
$paragraph-desktop: 13px;

// Line heights
$big-title-lh-desktop: 61px;
$regular-lh-desktop: 17px;



