@import 'reset';
@import 'variables';
@import 'base';
@import 'layout';
@import 'mixins';
@import 'components';


@import 'navbar';
@import 'header';
@import 'footer';

@import 'home';
@import 'seguros';
@import 'seguros-detail';
@import 'equipo';
@import 'asistencia';
@import 'contacto';
